// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Lattice from "../../../index.js";

export declare namespace OauthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OauthClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OauthClient.Options>;

    constructor(options: OauthClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Gets a new short-lived token using the specified client credentials
     *
     * @param {Lattice.GetTokenRequest} request
     * @param {OauthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Lattice.BadRequestError}
     * @throws {@link Lattice.UnauthorizedError}
     *
     * @example
     *     await client.oauth.getToken({})
     */
    public getToken(
        request: Lattice.GetTokenRequest,
        requestOptions?: OauthClient.RequestOptions,
    ): core.HttpResponsePromise<Lattice.GetTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getToken(request, requestOptions));
    }

    private async __getToken(
        request: Lattice.GetTokenRequest,
        requestOptions?: OauthClient.RequestOptions,
    ): Promise<core.WithRawResponse<Lattice.GetTokenResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatticeEnvironment.Default,
                "api/v1/oauth/token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/x-www-form-urlencoded",
            queryParameters: requestOptions?.queryParams,
            requestType: "form",
            body: { ...request, grant_type: "client_credentials" },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Lattice.GetTokenResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Lattice.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Lattice.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LatticeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/oauth/token");
    }
}
