// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Lattice from "../../../index.js";

export declare namespace ObjectsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * API to manipulate and interrogate object data on the local node, as well as list objects from the Lattice mesh.
 */
export class ObjectsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ObjectsClient.Options>;

    constructor(options: ObjectsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Lists objects in your environment. You can define a prefix to list a subset of your objects. If you do not set a prefix, Lattice returns all available objects. By default this endpoint will list local objects only.
     *
     * @param {Lattice.ListObjectsRequest} request
     * @param {ObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Lattice.BadRequestError}
     * @throws {@link Lattice.UnauthorizedError}
     * @throws {@link Lattice.InternalServerError}
     *
     * @example
     *     await client.objects.listObjects()
     */
    public async listObjects(
        request: Lattice.ListObjectsRequest = {},
        requestOptions?: ObjectsClient.RequestOptions,
    ): Promise<core.Page<Lattice.PathMetadata, Lattice.ListResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: Lattice.ListObjectsRequest): Promise<core.WithRawResponse<Lattice.ListResponse>> => {
                const { prefix, sinceTimestamp, pageToken, allObjectsInMesh, maxPageSize } = request;
                const _queryParams: Record<string, unknown> = {
                    prefix,
                    sinceTimestamp: sinceTimestamp != null ? sinceTimestamp : undefined,
                    pageToken,
                    allObjectsInMesh,
                    maxPageSize,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    requestOptions?.headers,
                );
                const _response = await core.fetcher({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.LatticeEnvironment.Default,
                        "api/v1/objects",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return { data: _response.body as Lattice.ListResponse, rawResponse: _response.rawResponse };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 400:
                            throw new Lattice.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                        case 401:
                            throw new Lattice.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                        case 500:
                            throw new Lattice.InternalServerError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.LatticeError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/objects");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Lattice.PathMetadata, Lattice.ListResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_page_token != null &&
                !(typeof response?.next_page_token === "string" && response?.next_page_token === ""),
            getItems: (response) => response?.path_metadatas ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "pageToken", response?.next_page_token));
            },
        });
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Fetches an object from your environment using the objectPath path parameter.
     *
     * @throws {@link Lattice.BadRequestError}
     * @throws {@link Lattice.UnauthorizedError}
     * @throws {@link Lattice.NotFoundError}
     * @throws {@link Lattice.InternalServerError}
     */
    public getObject(
        request: Lattice.GetObjectRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getObject(request, requestOptions));
    }

    private async __getObject(
        request: Lattice.GetObjectRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { objectPath, "Accept-Encoding": acceptEncoding, Priority: priority } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Accept-Encoding": acceptEncoding, Priority: priority }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatticeEnvironment.Default,
                `api/v1/objects/${core.url.encodePathParam(objectPath)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Lattice.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Lattice.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Lattice.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Lattice.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LatticeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/api/v1/objects/{objectPath}");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Uploads an object. The object must be 1 GiB or smaller.
     *
     * @param {core.file.Uploadable} uploadable
     * @param {string} objectPath
     * @param {ObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Lattice.BadRequestError}
     * @throws {@link Lattice.UnauthorizedError}
     * @throws {@link Lattice.ContentTooLargeError}
     * @throws {@link Lattice.InternalServerError}
     * @throws {@link Lattice.InsufficientStorageError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.objects.uploadObject(createReadStream("path/to/file"), undefined)
     */
    public uploadObject(
        uploadable: core.file.Uploadable,
        objectPath: string,
        requestOptions?: ObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<Lattice.PathMetadata> {
        return core.HttpResponsePromise.fromPromise(this.__uploadObject(uploadable, objectPath, requestOptions));
    }

    private async __uploadObject(
        uploadable: core.file.Uploadable,
        objectPath: string,
        requestOptions?: ObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Lattice.PathMetadata>> {
        const _binaryUploadRequest = await core.file.toBinaryUploadRequest(uploadable);
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            _binaryUploadRequest.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatticeEnvironment.Default,
                `api/v1/objects/${core.url.encodePathParam(objectPath)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/octet-stream",
            queryParameters: requestOptions?.queryParams,
            requestType: "bytes",
            duplex: "half",
            body: _binaryUploadRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Lattice.PathMetadata, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Lattice.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Lattice.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 413:
                    throw new Lattice.ContentTooLargeError(
                        _response.error.body as Lattice.object.Error_,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Lattice.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 507:
                    throw new Lattice.InsufficientStorageError(
                        _response.error.body as Lattice.object.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.LatticeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/api/v1/objects/{objectPath}");
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Deletes an object from your environment given the objectPath path parameter.
     *
     * @param {Lattice.DeleteObjectRequest} request
     * @param {ObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Lattice.BadRequestError}
     * @throws {@link Lattice.UnauthorizedError}
     * @throws {@link Lattice.NotFoundError}
     * @throws {@link Lattice.InternalServerError}
     *
     * @example
     *     await client.objects.deleteObject({
     *         objectPath: "objectPath"
     *     })
     */
    public deleteObject(
        request: Lattice.DeleteObjectRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteObject(request, requestOptions));
    }

    private async __deleteObject(
        request: Lattice.DeleteObjectRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { objectPath } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatticeEnvironment.Default,
                `api/v1/objects/${core.url.encodePathParam(objectPath)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Lattice.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Lattice.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Lattice.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Lattice.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LatticeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/api/v1/objects/{objectPath}",
        );
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Returns metadata for a specified object path. Use this to fetch metadata such as object size (size_bytes), its expiry time (expiry_time), or its latest update timestamp (last_updated_at).
     *
     * @param {Lattice.GetObjectMetadataRequest} request
     * @param {ObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Lattice.BadRequestError}
     * @throws {@link Lattice.UnauthorizedError}
     * @throws {@link Lattice.InternalServerError}
     *
     * @example
     *     await client.objects.getObjectMetadata({
     *         objectPath: "objectPath"
     *     })
     */
    public getObjectMetadata(
        request: Lattice.GetObjectMetadataRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<Headers> {
        return core.HttpResponsePromise.fromPromise(this.__getObjectMetadata(request, requestOptions));
    }

    private async __getObjectMetadata(
        request: Lattice.GetObjectMetadataRequest,
        requestOptions?: ObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Headers>> {
        const { objectPath } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.LatticeEnvironment.Default,
                `api/v1/objects/${core.url.encodePathParam(objectPath)}`,
            ),
            method: "HEAD",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.rawResponse.headers, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Lattice.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Lattice.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Lattice.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.LatticeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "HEAD", "/api/v1/objects/{objectPath}");
    }
}
